In [1]:
print("Hello python 101")

Hello python 101

In [2]:
Print("Semantic Error")

NameError: name 'Print' is not defined

In [8]:
type("hello")
#type(11)
#type(11.11)

str

In [11]:
float(2)

2.0

In [12]:
int("A")

ValueError: invalid literal for int() with base 10: 'A'

In [13]:
str(2.5)

'2.5'

In [15]:
25//6 #result will be rounded

4

In [18]:
Name="Md. Sakibul Islam"
Name[-1]

'a'

In [19]:
Name[0:4]

'Md. '

In [20]:
Name[8:12]

'bul '

In [21]:
Name[::2] #indicate every second variable

'M.SkblIlm'

In [22]:
len(Name)

17

In [23]:
Name+" is a student."

'Md. Sakibul Islam is a student.'

In [24]:
Name*3

'Md. Sakibul IslamMd. Sakibul IslamMd. Sakibul Islam'

In [25]:
# \ represents escape sequence
print(Name+"\n"+Name)

Md. Sakibul Islam
Md. Sakibul Islam

In [26]:
print("hello \\ world")

hello \ world

In [27]:
B=Name.upper()

In [28]:
B

'MD. SAKIBUL ISLAM'

In [1]:
tuple1=("Sakib_splash",10,20.5)
tuple1

('Sakib_splash', 10, 20.5)

In [2]:
tuple1[0]

'Sakib_splash'

In [3]:
tuple2=tuple1+("king",50,200)
tuple2

('Sakib_splash', 10, 20.5, 'king', 50, 200)

In [4]:
tuple2[0:3]

('Sakib_splash', 10, 20.5)

In [5]:
len(tuple1)

3

In [6]:
#immutable, couldnot change the elements 
tuple1[2]=65

TypeError: 'tuple' object does not support item assignment

In [9]:
#sorted tuple
tuple3=(50,20,35,15)
tuple4=sorted(tuple3)
tuple4

[15, 20, 35, 50]

In [10]:
tuple5=("sakib",10,("king","splash"),(20,200))
tuple5

('sakib', 10, ('king', 'splash'), (20, 200))

In [11]:
tuple5[2]

('king', 'splash')

In [12]:
tuple5[2][0]

'king'

In [13]:
tuple5[2][1]

'splash'

In [5]:
#list
list1=["Sakib_splash",10,20.5]
list1

['Sakib_splash', 10, 20.5]

In [6]:
list1.extend(["king"])
list1

['Sakib_splash', 10, 20.5, 'king']

In [7]:
list1.append("S")
list1

['Sakib_splash', 10, 20.5, 'king', 'S']

In [8]:
list1[0]="Sakibul islam"

In [9]:
list1

['Sakibul islam', 10, 20.5, 'king', 'S']

In [10]:
del(list1[0])
list1

[10, 20.5, 'king', 'S']

In [11]:
"sakibul islam".split()

['sakibul', 'islam']

In [12]:
"a,b,c,d".split(",")

['a', 'b', 'c', 'd']

In [13]:
#SETS
A={'Sakib_splash', 10, 20.5, 'king', 50, 200}
A

{10, 20.5, 200, 50, 'Sakib_splash', 'king'}

In [15]:
A.add(20)
A

{10, 20, 20.5, 200, 50, 'Sakib_splash', 'king'}

In [16]:
A.add(10)
A

{10, 20, 20.5, 200, 50, 'Sakib_splash', 'king'}

In [17]:
A.remove(200)
A

{10, 20, 20.5, 50, 'Sakib_splash', 'king'}

In [18]:
"king" in A

True

In [19]:
"Queen" in A

False

In [20]:
A

{10, 20, 20.5, 50, 'Sakib_splash', 'king'}

In [22]:
B={15,20,30,50,"king","Queen"}
B

{15, 20, 30, 50, 'Queen', 'king'}

In [23]:
C = A & B #intersection of set A and B
C

{20, 50, 'king'}

In [25]:
D = A.union(B) #union of two set
D

{10, 15, 20, 20.5, 30, 50, 'Queen', 'Sakib_splash', 'king'}

In [26]:
#Dictionaries:
Dict={"A":1,"B":"2","C":[3,3,3],"D":(4,4,4),'E':5,'F':6}
Dict["D"]

(4, 4, 4)

In [27]:
squares=["red","yellow","green","purple","blue"]

for i in range(0,5):
    squares[i] = "white"

In [28]:
squares

['white', 'white', 'white', 'white', 'white']

In [30]:
squares=["red","yellow","green","purple","blue"]

for i,square in enumerate(squares):
    print(square)
    print(i)

red
0
yellow
1
green
2
purple
3
blue
4

In [1]:
def f(a,b):
    c=a*b
    return c

In [5]:
##Complete the function g such that the input c is a list of integers and the output is the sum of all the elements in the list.

In [6]:
def g(c):
    for i in c:
        s+=c[i]
    return s

In [7]:
def g(c):

    return sum(c)

In [8]:
#Exception Handling
1/0

ZeroDivisionError: division by zero

In [9]:
y = a + 5

NameError: name 'a' is not defined

In [10]:
a = [1, 2, 3]
a[10]

IndexError: list index out of range

In [11]:
a = 1

try:
    b = int(input("Please enter a number to divide a"))
    a = a/b
    print("Success a=",a)
except:
    print("There was an error")

Please enter a number to divide a 0.

There was an error

In [13]:
A = ['1','2','3']

for a in A:

    print(2*a)

11
22
33

In [46]:
#File open 
file1=open("readme.txt","r")
file1.read()

'hello\nhi\nhow are you'

In [48]:
file1.readline()

''

In [1]:
# Write line to file
exmp2 = 'Example2.txt'
with open(exmp2, 'w') as writefile:
    writefile.write("This is line A")

In [2]:
# Read file

with open(exmp2, 'r') as testwritefile:
    print(testwritefile.read())

This is line A

In [3]:
# Write lines to file

with open(exmp2, 'w') as writefile:
    writefile.write("This is line A\n")
    writefile.write("This is line B\n")

In [4]:
# Check whether write to file

with open(exmp2, 'r') as testwritefile:
    print(testwritefile.read())

This is line A
This is line B

In [5]:
# Sample list of text

Lines = ["This is line A\n", "This is line B\n", "This is line C\n"]
Lines

['This is line A\n', 'This is line B\n', 'This is line C\n']

In [6]:
# Write the strings in the list to text file

with open('Example2.txt', 'w') as writefile:
    for line in Lines:
        print(line)
        writefile.write(line)

This is line A

This is line B

This is line C

In [8]:
import pandas as pd
df=pd.read_csv("diabetes.csv")

In [9]:
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [10]:
df.head(5)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [11]:
df.tail(5)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [15]:
df.iloc[1,1]

85

In [18]:
df.iloc[767,2]

70

In [19]:
df["BMI"]

0      33.6
1      26.6
2      23.3
3      28.1
4      43.1
       ...
763    32.9
764    36.8
765    26.2
766    30.1
767    30.4
Name: BMI, Length: 768, dtype: float64

In [26]:
df['BMI'].unique()

array([33.6, 26.6, 23.3, 28.1, 43.1, 25.6, 31. , 35.3, 30.5,  0. , 37.6,
       38. , 27.1, 30.1, 25.8, 30. , 45.8, 29.6, 43.3, 34.6, 39.3, 35.4,
       39.8, 29. , 36.6, 31.1, 39.4, 23.2, 22.2, 34.1, 36. , 31.6, 24.8,
       19.9, 27.6, 24. , 33.2, 32.9, 38.2, 37.1, 34. , 40.2, 22.7, 45.4,
       27.4, 42. , 29.7, 28. , 39.1, 19.4, 24.2, 24.4, 33.7, 34.7, 23. ,
       37.7, 46.8, 40.5, 41.5, 25. , 25.4, 32.8, 32.5, 42.7, 19.6, 28.9,
       28.6, 43.4, 35.1, 32. , 24.7, 32.6, 43.2, 22.4, 29.3, 24.6, 48.8,
       32.4, 38.5, 26.5, 19.1, 46.7, 23.8, 33.9, 20.4, 28.7, 49.7, 39. ,
       26.1, 22.5, 39.6, 29.5, 34.3, 37.4, 33.3, 31.2, 28.2, 53.2, 34.2,
       26.8, 55. , 42.9, 34.5, 27.9, 38.3, 21.1, 33.8, 30.8, 36.9, 39.5,
       27.3, 21.9, 40.6, 47.9, 50. , 25.2, 40.9, 37.2, 44.2, 29.9, 31.9,
       28.4, 43.5, 32.7, 67.1, 45. , 34.9, 27.7, 35.9, 22.6, 33.1, 30.4,
       52.3, 24.3, 22.9, 34.8, 30.9, 40.1, 23.9, 37.5, 35.5, 42.8, 42.6,
       41.8, 35.8, 37.8, 28.8, 23.6, 35.7, 36.7, 45.2, 44. , 46.2, 35. ,
       43.6, 44.1, 18.4, 29.2, 25.9, 32.1, 36.3, 40. , 25.1, 27.5, 45.6,
       27.8, 24.9, 25.3, 37.9, 27. , 26. , 38.7, 20.8, 36.1, 30.7, 32.3,
       52.9, 21. , 39.7, 25.5, 26.2, 19.3, 38.1, 23.5, 45.5, 23.1, 39.9,
       36.8, 21.8, 41. , 42.2, 34.4, 27.2, 36.5, 29.8, 39.2, 38.4, 36.2,
       48.3, 20. , 22.3, 45.7, 23.7, 22.1, 42.1, 42.4, 18.2, 26.4, 45.3,
       37. , 24.5, 32.2, 59.4, 21.2, 26.7, 30.2, 46.1, 41.3, 38.8, 35.2,
       42.3, 40.7, 46.5, 33.5, 37.3, 30.3, 26.3, 21.7, 36.4, 28.5, 26.9,
       38.6, 31.3, 19.5, 20.1, 40.8, 23.4, 28.3, 38.9, 57.3, 35.6, 49.6,
       44.6, 24.1, 44.5, 41.2, 49.3, 46.3])

In [27]:
cf=df[['BMI','Age']]

In [28]:
cf

      BMI  Age
0    33.6   50
1    26.6   31
2    23.3   32
3    28.1   21
4    43.1   33
..    ...  ...
763  32.9   63
764  36.8   27
765  26.2   30
766  30.1   47
767  30.4   23

[768 rows x 2 columns]

In [29]:
cf=cf.to_csv("new.csv")